body {
  background-color: #333;
  color: #696;
}

#main {
  width: 80%;
  margin: 20px auto;
}

.flex {
  display: flex;
}

#message-list > li {
  list-style: none;
  margin: 2px 5px;
}

span.user {
  font-weight: bold;
  color: bisque;
  margin-right: 5px;
}

span.message {
  font-style: italic;
  color:antiquewhite;
}

span.own {
  color: aliceblue;
}